 @import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

 body {
     background-color: black;
     color: white;
 }

 .left {
     width: 30vw;
     padding: 10px;
     margin: 4px;
 }

 .right {
     width: 70vw;
     padding: 10px;
     margin: 4px;
     position: relative;
 }

 .lnav ul li {
     width: 25px;
     list-style: none;
     display: inline-block;
     padding-left: 20px;
     padding-top: 10px;
 }
.logo{
     padding-left: 10px;
     padding-top: 10px;
 }

 .lnav {
     width: 50vw;
     gap: 20px;
 }

 .mnav {
     width: 25vw;
     margin-left: 150px;
 }

 .rnav {
     width: 25vw;
 }

 .search {
     width: 100px;

 }

 .mnav ul li {

     list-style: none;
     display: inline-block;
     margin-left: 10px;
      
      

 }

 .rnav ul li {

     list-style: none;
     display: inline-block;
     margin-left: 25px;
     
 }

.btn{
    background-color: black;
    color: rgb(148, 146, 146);
    font-weight: bold;
    font-size: 16px;
    border: none;
    outline: none;
    cursor: pointer;
}

.btn:hover{
    color: rgb(218, 215, 215);
    font-size: 17px;
}
.loginbtn{
    background-color: white;
    border-radius: 25px;
    color: black;
    font-size: 15px;
    font-weight: bold;
    padding: 15px;
    width: 100px;
    cursor: pointer;
}

.loginbtn:hover{
    background-color: white;
    border-radius: 25px;
    color: black;
    font-size: 15px;
    font-weight: bold;
    padding: 15px;
    width: 102px;
     
}


 .invert {
     filter: invert(1);
 }

 .bg-gray {
     background-color: rgb(22, 19, 19);
 }

 .rounded {
     border-radius: 5px;
 }

 .heading {
     display: flex;
     gap: 15px;
     width: 100%;
     padding-top: 7px;
     font-weight: bold;
     align-items: center;
     font-size: 11px;
     justify-content: space-between;
 }

 .heading img {
     width: 15px;
      
 }

 .library {
     height: 80vh;
     position: relative;
     margin: 10px;
 }

 .cardcontainer{
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    overflow-y: scroll;
    max-height: 70vh;
 }
 
 
 .songs .card{
    width: 150px;
    padding: 10px;
    border-radius: 5px;
    background-color: rgb(37, 34, 34);
    position: relative;
 }

 .card img{
    width: 100%;
    object-fit: contain;

 }

 .play img{
    width: 40px;
    border-radius: 30px;
    background-color:  rgb(1, 202, 1);
    position: absolute;
    top: 120px;
    right: 17px;
    opacity: 0;
    transition: all 1s ease-out;
 }
 .playbar{
     position: absolute;
     bottom: 0;
     width: 100%;
     background-color: rgb(29, 61, 36);
 }

 .footer {
     display: flex;
     font-size: 12px;
     gap: 17px;
     position: absolute;
     bottom: 0;
     flex-wrap: wrap;

 }


 .footer a {
     color: rgb(190, 183, 183);
 }