 @import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

 body {
     background-color: black;
     color: white;
 }

 /* Css for Navbar */

 .nav{
     margin: 5px;
 }
 

 
.logo{
     width: 5vw;
     padding-left: 20px;
     padding-top: 10px;
 }

 .lnav{
     width: 45vw;
     padding-left: 20px;
     padding-top: 12px;
     gap: 30px;
 }

 .lnav img{
     
     width: 25px;
 }

 .mnav {
    width: 20vw;
    gap: 10px;
    padding-left: 160px;
 }

 .rnav {
    padding-left: 20px;
    width: 30vw;
    gap: 30px;
     
      
 }

 .rnav .install{
    padding-top: 13px;
 }

 .rnav img{
    width: 18px;
 }


.btn{
    background-color: black;
    color: rgb(148, 146, 146);
    font-weight: bold;
    font-size: 16px;
    border: none;
    outline: none;
    cursor: pointer;
}

.btn:hover{
    color: rgb(218, 215, 215);
    font-size: 17px;
}
.loginbtn{
    background-color: white;
    border-radius: 25px;
    color: black;
    font-size: 15px;
    font-weight: bold;
    padding: 15px;
    width: 100px;
    cursor: pointer;
}

.loginbtn:hover{
    background-color: white;
    border-radius: 25px;
    color: black;
    font-size: 15px;
    font-weight: bold;
    padding: 15px;
    width: 102px;
     
}

.mnav h1{
    padding-top: 4px;
   padding-left: 10px;
}

/* CSS for Two container */

.container{
    margin: 2px;
}

 .left {
     width: 30vw;
     padding: 10px;
     margin: 4px;
 }

 .right {
     width: 70vw;
     padding: 10px;
     margin: 4px;
     position: relative;
 }


 .heading {
     display: flex;
     gap: 15px;
     width: 100%;
     padding-top: 7px;
     font-weight: bold;
     align-items: center;
     font-size: 11px;
     justify-content: space-between;
 }

 .heading img {
     width: 15px;
      
 }

 .library {
     height: 80vh;
     position: relative;
     margin: 10px;
 }

 .cardcontainer{
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    overflow-y: scroll;
    max-height: 70vh;
 }
 
 
 .songs .card{
    width: 150px;
    padding: 10px;
    border-radius: 5px;
    background-color: rgb(37, 34, 34);
    position: relative;
 }

 .card img{
    width: 100%;
    object-fit: contain;

 }

 .card p{
    color:  rgb(190, 183, 183);
    font-size: 13px;
 }

 .play img{
    width: 40px;
    border-radius: 30px;
    position: absolute;
    top: 120px;
    right: 17px;
    /* opacity: 0;
    transition: all 1s ease-out;
  */
 }
 .playbar{
     position: absolute;
     bottom: 0;
     width: 920px;
     background-color: rgb(66, 117, 66);
 }

 .songbtn{
    display: flex;
    justify-content: center;
    gap: 10px;
 }
.songbtn img{
    width: 30px;
    
}
 .footer {
     display: flex;
     font-size: 12px;
     gap: 17px;
     position: absolute;
     bottom: 0;
     flex-wrap: wrap;

 }


 .footer a {
     color: rgb(190, 183, 183);
 }