*{
    margin: 0;
    padding: 0;
}

.border{
    border: 2px solid red;
}

 .invert {
     filter: invert(1);
 }

 .bg-gray {
     background-color: rgb(22, 19, 19);
 }

 .rounded {
     border-radius: 5px;
 }

.flex{
    display: flex;
}
.justify-center{
   justify-content: center;
}
.item-center{
    align-items: center;
}

* {
    scrollbar-width: thin;        /* thin scrollbar */
    scrollbar-color: #444 #111;   /* thumb color | track color */
}