*{
    margin: 0;
    padding: 0;
}
.border{
    border-color: 5px solid red;
}
 
.flex{
    display: flex;
}
.justify-center{
   justify-content: center;
}
.item-center{
    align-items: center;
}

* {
    scrollbar-width: thin;        /* thin scrollbar */
    scrollbar-color: #444 #111;   /* thumb color | track color */
}